
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow-sm mb-5 nav-width">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold nav-title" href="{% url "home_page" %}">ThoughtStream</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% url "home_page" as Home %}
                <a class="nav-link {% if request.path == Home %} current_link {% endif %}" aria-current="page" href="/">Home</a>

                {% url "about_us" as About %}
                <a class="nav-link {% if request.path == About %} current_link {% endif %} " href="{% url 'about_us' %}">About Us</a>

                {% url "contact_us" as Contact %}
                <a class="nav-link {% if request.path == Contact %}current_link{% endif %}" href="{% url 'contact_us' %}">Contact Us</a>

                {% if request.user.is_authenticated %}
                    {% url "dashboard" as Dash %}
                    <a class="nav-link {% if request.path == Dash %}current_link{% endif %}" href="{% url 'dashboard' %}">Dashboard</a>
                    
                    {% url "logout" as Logout %}
                    <a class="nav-link {% if request.path == Logout %}current_link{% endif %}" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    {% url "register" as Register %}
                    <a class="nav-link {% if request.path == Register %}current_link{% endif %}" href="{% url 'register' %}">Register</a>
                    
                    {% url "login" as Login %}
                    <a class="nav-link {% if request.path == Login %}current_link{% endif %}" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<div class="container mt-5">
</div>
